.time_count {
  display: flex;
}

.time_count p {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 25px;
    font-weight: bold;
}

.button {
    width: 100px;
    height: 50px;
    border: 1px solid;
    font-weight: bolder;
}